/* Google Poppins Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* RESET INFO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --poppins: font-family: 'Poppins', sans-serif;
    --Btn-Color: #E02C6D;
    --Second-Color:  #3A3A3A;
}
body{
    background-color: var(--Background-Color);
}
.container{
    margin: 100px auto;
    max-width: 80%;
}

/*  =================
    Navbar css start
    ================== */

nav{
    width: 100%;
    margin-top: 50px;
}
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
}

.nav-logo h2{
    font-weight: 700;
    font-size: 24px;
    color: var(--Second-Color);
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu ul li{
    display: inline;
    padding-right: 30px;
    font-weight: 600;
    font-size: 16px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: var(--Second-Color);
}
.nav-menu .nav-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu .nav-btn button{
    border: none;
    background: transparent;
}
.nav-menu .nav-btn button i{
    font-size: 24px;
    color: var(--Second-Color);
}

/*  =====================
    Header Banner Section 
    ===================== */

.banner .container{
    height: 475px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-image:  url(../images/main-camera.png), url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.banner-text{
    width: 572px;
}
.banner-text h1{
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}
.banner-text p{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin: 16px 0;
}
.banner-text button{
    padding: 10px 24px;
    border: none;
    background-color: var(--Btn-Color);
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

/*  ================== 
    Brand Section 
    =================== */

.brand-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px auto;
}

/*  ===========================
    Popular Collection Section 
    =========================== */

.collection {
    max-width: 1047px;
}
.collection h2{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}


.items-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}
.item-no{
    width: 329px;
    height: 476px;
    background-color: #E02C6D;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.item-no img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px;
    
}

.item-info h3{
    font-weight: 500;
    font-size: 28px;
}
.item-info p{
    font-weight: 400;
    font-size: 24px;
}

.rating{
    display: flex;
    align-items: center;
    gap: 6px;
}
.rating i{
    font-size: 14px;
    color: #FB8200;
}
.rating span{
    font-weight: 700;
    font-size: 14px;
    color: var(--Second-Color);
}
.collection a{
    display: block;
    text-align: end;
    text-decoration: none;
    margin-top: 30px;
    color: var(--Btn-Color);
    font-weight: 700;
    font-size: 16px;
}
